{% extends "@AceCommon/Default/layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'Creating event item' | trans }}</h1>
        <a href="{{ path('cms.event.list') }}" class="btn btn-info">{{ 'Back to overview' | trans }}</a>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.intro) }}
    {{ form_row(form.content) }}
    {{ form_row(form.start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.blogs) }}
    {{ form_end(form) }}
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/theme/default/js/jbfileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jcrop/js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.jb_fileupload').jbFileUpload();
        });
    </script>
{% endblock %}