{% extends "@AceCommon/Default/layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Event</h1>
        <a href="{{ path('cms.event.create') }}" class="btn btn-primary">Create event item</a>
    </div>

    <ul>
        {% for event in events %}
            <li>
                {{ event.name }} ({{ event.id }})

                <a href="{{ path('cms.event.update', {id: event.id}) }}" class="btn btn-info">Update</a>
                <a href="{{ path('cms.event.delete', {id: event.id}) }}" class="btn btn-danger">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
